@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    max-width: 100%;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.leva_cast{
    background-color: 0;
    width: 200px;
    height: 100%;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-transform: uppercase;
    line-height: 20px;
}

.leva_cast h1 {
    font-size: 32px;
    color: #6AB187;
}

.leva_cast p {
    font-size: 16px;
    font-weight: 100px;
}

.prava_cast {
    background-color: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 215px;
    color: #6AB187;
}

.telefon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: #6AB187;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}

.button:hover {
    background-color: white;
    color: #6AB187;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.prava_cast a, .prava_cast p {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.text-menu, .text-menu2 {
    color: #6AB187;
}

.text-menu:hover {
    color: black;
    transition: all 0.5s ease;
}

.image-wrapper {
    width: 100vw;
    height: 845px;
    overflow: hidden;
    position: absolute;
}
  
.main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.3) translateY(-8%) translateX(10%);
    transform-origin: center;
    filter: brightness(60%);
}

.uvodni-foto {
    position: relative;
}

.uvodni-foto h1 {
    width: 1000px;
    position: absolute;
    font-size: 105px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-left: 215px;
    margin-top: 123px;
    line-height: 1.1;
}

.uvodni-foto p {
    position: absolute;
    color: white;
    margin-left: 215px;
    width: 515px;
    margin-top: 350px;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
}

.uvodni-foto a {
    position: absolute;
    color: white;
    margin-left: 215px;
    margin-top: 480px;
    text-transform: uppercase;
    text-decoration: none;
}

.sipka1, .sipka2, .sipka3, .sipka4 {
    position: absolute;
    width: 195px;
}

.sipka1 {
    top: 5px;
    right: 340px;
    transform: rotate(220deg) scaleX(-1);
}

.sipka2 {
    top: 540px;
    left: 100px;
    transform: rotate(290deg) scaleX(-1);
}

.sipka3 {
    top: 540px;
    left: 270px;
    transform: rotate(80deg);
}

.sipka4 {
    top: 480px;
    left: 420px;
    transform: rotate(40deg);
}

.text-sipky {
    z-index: 10;
    text-align: center;
    position: absolute;
    color: white;
    max-width: 232px;
    font-weight: 400;
    font-size: 20px;
    top: -180px;
    right: 120px;
}

.postup {
    width: 100%;
    height: 350px;
    background-color: 0;
    position: relative;
    margin-top: 845px;
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
}

.postupLeva {
    margin-left: 215px;
}

.postup h2 {
    font-size: 64px;
    font-weight: bold;
    color: #6AB187;
    text-transform: uppercase;
}

.postup .text-pujceni {
    color: black;
    text-transform: none;
    font-size: 20px;
    width: 515px;
}

.kroky {
    margin-right: 215px;
    display: flex;
    gap: 50px;
}

.vrch {
    display: flex;
    border-bottom: solid 4px #6AB187;
}

.vrch p {
    font-weight: bold;
    font-size: 128px;
    line-height: 110px;
}

.full {
    color: #6AB187;
}

.transparent {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1.5px #6AB187;
}

.spod {
    margin-top: 20px;
}

.spod p {
    width: 245px;
}

.mapa {
    width: 100%;
    height: 780px;
    background-color: #6AB187;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapaNadpis {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    margin-top: 40px;
}

.mapaFrame {
    width: 1585px;
    height: 560px;
    background-color: white;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
}

.mapaLeva {
    width: 885px;
    height: 100%;
    background-color: 0;
    border-radius: 25px;
}

.mapaPrava {
    width: 700px;
    height: 100%;
    background-color: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.mapaPrava img {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.mapaVrch {
    text-align: center;
}


.mapaVrch p {
    font-size: 32px;
    color: #6AB187;
    text-transform: none;
    margin-top: 15px;
    font-weight: 600;
}

.mapaSpod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.scrollovaciSeznam {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.polozka {
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: last baseline;
}



.polozka:hover {
    background-color: #6ab18833;
}

.rozdel {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.udaje p {
    text-transform: none;
}

.udaje {
    display: flex;
    gap: 5px;
}

.poloha {
    display: flex;
    align-items: center;
}

.poloha p, .baterie p {
    font-weight: 400;
}

.baterie {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.navigace {
    margin-left: auto;
    margin-right: 10px;
}

.scrollovaciSeznam::-webkit-scrollbar {
    width: 6px;
}

  
.scrollovaciSeznam::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
.scrollovaciSeznam::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hranice {
    width: 90%;
    padding: 80px 0;
    background-color: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.hraniceLeva{
    background-color: 0;
}

.hranicePrava {
    background-color: 0;
}

.normalText {
    width: 694px;
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
}

.hranicePrava h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #6AB187;
    margin-top: -20px;
}

.strong {
    width: 694px;
    font-size: 20px;
    text-transform: none;
    font-weight: 600;
}

footer {
    background-color: #6AB187;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    width: 800px;
    height: 300px;
    background-color: aqu;

}

.odkazy p {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
}

.odkazyMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .special {
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.odkazyMenu a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.odkazyMenu a:hover {
    color: black;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    justify-content: center;
}

.odkazy {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

.copyright p {
    text-transform: none;
    text-align: center;
    font-weight: 500;
}

.ONas {
    position: relative;
    background-color: #6AB187;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
}

.ONas h1 {
    margin-top: 80px;
    font-size: 40px;
    text-transform: uppercase;
}

.NovotnyFoto {
    width: 220px;
    height: 220px;
}

.NovotnyFoto img {
    width: 100%;
    height: 100%;
    border-radius: 200px;
}

.NovotnyPopis {
    text-align: center;
    width: 1000px;
    font-size: 20px;
}

.NovotnyPodnadpis {
    font-size: 28px;
    font-weight: 800;
}

.bannerRezervace {
    width: 100%;
    height: 300px;
    background-color: aqu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    overflow: hidden;
}

.button2 {
    background-color: #6AB187;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.button2:hover {
    background-color: white;
    color: #6AB187;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.homo {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #6AB187;
}

.nehomo {
    font-size: 20px;
    margin-bottom: 15px;
}

.scootContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scootContainer img {
    height: 100%;
}

.cenik {
    position: relative;
    background-color: #6AB187;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cenik table {
    width: 60%;
    height: 70%;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

.cenik h1 {
    margin-bottom: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

.trMain {
    background-color: #6ab18833;
    font-weight: 700;
}

.cenik table td {
    border: 1px solid #6AB187;
}

.trSec {
    background-color: #6ab18833;
}

.recenze {
    position: relative;
    background-color: #6AB187;
    width: 100%;
    height: 1920px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.recenze h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.recenze h3 {
    font-size: 28px;
}

.recenze p {
    font-size: 18px;
}

.osoba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    gap: 40px;
}

.popisy {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: 0;
    height: 250px;
}

.kontakty {
    position: relative;
    background-color: #6AB187;
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.kontakty h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.kontakty p {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.kontaktniInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}