:root{
    --background: #101213;
    --primary-color: #1b1d1f;
    --secondary-color: gray;
    --accent-color: #1cf1c3;
    --text-color:  white;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    min-height: 90vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper{
    width: 100%;
    max-width: 1100px;
    min-width: 100px;
    display: flex;
    background-color: none;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.karta{
    background-color: var(--primary-color);
    min-width: 360px;
    width: 500px;
    max-width: 500px;
    min-height: 130px;
    max-height: 130px;
    border-radius: 12px;
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 10px rgb(1, 35, 39);
}


.nazev {
    background-color: var(--primary-color);
    min-width: 360px;
    width: 500px;
    max-width: 500px;
    min-height: 130px;
    height: 130px;
    border-radius: 12px;
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 10px rgb(1, 35, 39);
    display: flex;
    align-items: center; /* Vertikální zarovnání */
    justify-content: space-between; /* Umístí ikonu do pravého rohu */
    padding: 0px;
    padding-bottom: 0;
    position: relative; /* Abychom mohli ikonu umístit absolutně */
}

.nazev form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 40px;
}



.delete {
    position: absolute; /* Pozicování ikony relativně k nadřazenému elementu */
    top: 10px; /* Vzdálenost od horního okraje */
    right: 10px; /* Vzdálenost od pravého okraje */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
}

/* Nastavení barvy placeholderu na šedou */
input::placeholder {
    color: gray;
  }
  
  /* Nastavení barvy textu na černou, když se začne psát */
  input {
    color: black;
  }

.pridat {
    color: white;
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    margin-top: 4px;
}

.vedle-sebe {
    display: flex;
    align-items: center; /* Zarovnání vertikálně uprostřed */
    justify-content: space-between;
}

#input1, #input2, #input3 {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--accent-color);
    height: 25px;
}

#input2, #input3 {
    width: 44%;
}


.radek1 {
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: flex-start; /* Horizontální zarovnání vlevo */
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 10px; /* Mezera mezi prvky */
    margin: 0; /* Odstranění defaultních marginů */
}

.sluzba{
    font-size: 20pt;
    font-weight: bold;
    margin: 0; /* Odstranění defaultních marginů */
    display: flex;
    align-items: center; /* Zarovnání vertikálně uprostřed */
    justify-content: space-between;
    padding: 2px;
    padding-bottom: 0;
    display: flex;
    gap: 10px; /* Mezera mezi inputy */
    flex-grow: 1; /* Formulář zabírá zbytek prostoru */
}

.delete2 {
    padding-right: 0;
    display: flex;
    align-items: center; /* Zarovnání ikony na střed */
    justify-content: center;
    margin-top: 8px;

    cursor: pointer;
    background: none;
    border: none;
}



.plus {
    border: none;
    background: none;
    cursor: pointer;
}

.container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border: navajowhite;
    padding-top: 50px;
    padding-bottom: 40px;
}

.nazev {
    display: none; /* Skrývá formulář */
}


.radek2 {
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: flex-start; /* Horizontální zarovnání vlevo */
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 10px; /* Mezera mezi prvky */
}

.splatnost-icon, .dalsi-sp {
    display: flex;
    justify-content: center; /* Zarovnání obsahu horizontálně uvnitř elementu */
    align-items: center; /* Zarovnání obsahu vertikálně uvnitř elementu */
}


.radek3 {
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: flex-start; /* Horizontální zarovnání vlevo */
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 10px; /* Mezera mezi prvky */
}

.predplaceno-icon, .uz-pr {
    display: flex;
    justify-content: center; /* Zarovnání obsahu horizontálně uvnitř elementu */
    align-items: center; /* Zarovnání obsahu vertikálně uvnitř elementu */
}

